 .body-section {
  display: flex;
  flex-direction: column;
}
 
 .body-slide {
  display: flex;
  background-color: #131313;
  margin: auto;
  width: 70%;
  margin-top: 10vh;
  text-align: left;
  padding: 4rem 0 1rem 5rem;
  width: 60%;
  height: 50vmin;
  color: white;
  text-shadow: 0 1px 0 #000;
  
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      #0f0f0f,
      #0f0f0f 5%,
      #0f0f0f 60%,
      #0f0f0f 95%
    ); 
  border: solid 1px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 0%, #ffffff3a, rgba(226, 192, 0, 0.26), 99%, transparent);
  background: 
    var(--main-bg) padding-box,
    var(--gradient-border) border-box, 
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  // &:hover {
  //   animation-play-state: paused;
  // }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.slide-content {
  display: flex;
  flex-direction: column;  
  width: 80%;
  flex: 80%;
  gap: 13px;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  padding: 0;
  margin: 0;
  line-height: 3.5rem;
}

.ticks-cta-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ticks-section {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.ticks-section p {
  color: #e7e7e7;
  margin: 0;
}

.ticks {
  color: rgba(226, 192, 0, 0.839);
}

.infographic-section {
  display: flex;
  flex: 20%;

}

.infographic {
 width: 85%;
}

.btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #333333;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.613);
	border-bottom: 1px solid rgba(3, 3, 3, 0.839);
	border-top: 1px solid rgba(0, 0, 0, 1);
	border-radius: 30px;
	padding: 1px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.btn:hover a {
	letter-spacing: 3px;
}

.btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(226, 192, 0, 0.839), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}

.btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}

.btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: rgba(226, 192, 0, 0.839);
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}

.btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: rgba(226, 192, 0, 0.839);
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}

.btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.btn::before, /*chnage 1*/
.btn::after {
	background: rgba(226, 192, 0, 0.839);
	box-shadow: 0 0 5px rgba(226, 192, 0, 0.839), 0 0 15px rgba(226, 192, 0, 0.839), 0 0 30px rgba(226, 192, 0, 0.839),
		0 0 60px rgba(226, 192, 0, 0.839);
}
