.navsection {
  display: flex;
  background-color: rgb(197, 168, 1);
  padding: 1rem 1.5rem;
}

.logoSection {
  display: flex;
  flex: 20%;
}

.logo {
  width: 100%;
}

.menuIcons {
  display: none;
}

.menuSection {
  display: flex;
  flex: 90%;
  justify-content: end;
}

.menuItemsSection {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.menuLinks {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: flex;
  align-items: center;
  letter-spacing : 2px;
}

.menuLinks:hover{
  letter-spacing : 4px;
}

.menuLinks {
  transition-property: letter-spacing;
  transition-duration: 0.4s;
  transition-delay: 0.1s;
}

@media only screen and (max-width: 767px) {
  .logoSection {
    flex: 100%;
  }

  .registered-events {
    display: none;
  }

  .registered-events-icon {
    font-size: 2.5rem;
  }
}
