.body-slide {
  display: flex;
  background-color: #0f0f0f;
  margin: auto;
  text-align: left;
  padding: 4rem 0 1rem 5rem;
  width: 60%;
  height: 50vmin;
  color: white;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      #434343,
      #434343 5%,
      #434343 60%,
      #434343 95%
  );

  border: solid 1px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 0%,
      #ffffff3a,
      rgba(226, 192, 0, 0.26),
      99%,
      transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
      var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 3s linear infinite;
  animation: fadeIn 3s;
}

@keyframes bg-spin {
  to {
      --border-angle: 1turn;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0.1;
  }
  to {
      opacity: 1;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.slide-content {
  display: flex;
  flex-direction: column;
  flex: 70%;
  gap: 1rem;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  padding: 0;
  margin: 0;
  line-height: 3.5rem;
  color: rgba(231, 231, 231, 0.812);
}

.ticks-cta-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ticks-section {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.ticks-section p {
  color: rgba(231, 231, 231, 0.682);
  margin: 0;
}

.ticks {
  color: rgba(226, 192, 0, 0.839);
}

.infographic-section {
  display: flex;
  flex: 20%;
}

.infographic {
  width: 70%;
}

.btn {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  background: #333;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.613);
  border-bottom: 1px solid rgba(3, 3, 3, 0.839);
  border-top: 1px solid rgba(0, 0, 0, 1);
  border-radius: 30px;
  padding: 1px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: bolder;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.btn:hover a {
  letter-spacing: 3px;
}

.btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}

.btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: rgb(226, 192, 0);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: rgb(226, 192, 0);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.btn::before,
.btn::after {
  background: rgb(226, 192, 0);
  box-shadow: 0 0 5px rgb(226, 192, 0), 0 0 15px rgb(226, 192, 0),
      0 0 30px rgb(226, 192, 0), 0 0 60px rgb(226, 192, 0);
}
